/* edit-section */

:root {
    --text-100: #F5ECD7;
    --text-200: #ebe2cd;
    --text-300: #c2baa6;
    --bg-100: #888686;
    --bg-200: #353535;
    --bg-300: #1f1e1b;
    --accent-100: #8fbf9f;
    --accent-200: #346145;
    --accent-300: #FF8585;
    --accent-400: #E89D63;
    --accent-500: #bc9508;
    --error: #ee6565;
    --sticky-note-width: 300px;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-300) !important;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

main {
    background-color: var(--bg-300);
    padding: 2%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, var(--sticky-note-width));
    grid-gap: 4rem;
    justify-content: center;
    /* Creates 3 equal-width columns */
    /* Adjust the gap between sticky notes as needed */
    grid-auto-rows: min-content;
    /* Each row will adjust to the content height */
}

a:visited {
    color: var(--accent-400);
}

.edit-section {
    background: var(--bg-300);
    height: 96.7vh;
    padding: 6% 0;
}

.edit-section section {
    background: var(--bg-300);
    max-height: 80vh;
    padding: 2% 2% 2% 2%;
    width: 60%;
    max-width: 100vh;
    margin: 0 auto;
    box-shadow: 12px 12px 0px 4px var(--text-200);
    border-top: 2px solid var(--text-200);
    border-left: 2px solid var(--text-200);
    border-radius: 0.4rem;
}

.edit-section form {
    display: flex;
    flex-direction: column;
}

.edit-section form input {
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: 0;
    background: var(--bg-300);
    color: var(--text-200);
}

input[type="text"],
input[type="password"] {
    background-color: var(--bg-300);
    color: var(--text-200);
    border: none;
    border-bottom: 1px solid var(--text-200);
    outline: none;
    transition: 0.2s ease all;
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: transparent;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus {
    border: 1px solid var(--text-200);
    -webkit-text-fill-color: var(--text-200);
    transition: background-color 5000s ease-in-out 0s;
}

.edit-section form textarea {
    margin-top: 2%;
    width: 100%;
    max-width: 100%;
    min-height: 45vh;
    max-height: 45vh;
    font-size: 2rem;
    outline: none;
    border: 0;
    background: var(--bg-300);
    color: var(--text-200);
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.save-button,
.cancel-button {
    background: #353535;
    padding: 1% 2%;
    font-size: 1.5rem;
    color: #F9F4E9;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    transition: 0.15s cubic-bezier(.5, .52, .76, .77) all;
}

.cancel-button {
    align-self: flex-start;
}

.save-button:hover,
.cancel-button:hover {
    translate: -2px -2px;
    background-color: rgba(53, 53, 53, 0.8);
}

@media (min-width: 992px) {
    .col-md-6 {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .col-md-6 {
        padding: 0 15px;
    }
}


/* color picker */

.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
}

.colorSelections {
    margin: 0;
}

.colorSelections div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* style.css */

.center {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-300);
    box-shadow: 12px 12px 0px 4px var(--text-200);
    padding: 50px;
    width: 400px;
    border-radius: 0.75rem;
    color: var(--text-200);
    border-top: 2px solid var(--text-200);
    border-left: 2px solid var(--text-200);
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.input-group,
.input-group form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-group input {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.login-btn {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #353535;
    color: #F9F4E9;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.15s cubic-bezier(.5, .52, .76, .77) all;
    font-family: monospace;
}

.login-btn:hover {
    /* transform: scale(1.05); */
    font-family: monospace;
    translate: -2px -2px;
    background-color: rgba(53, 53, 53, 0.8);
    font-weight: bold;
}

.text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.alt-login {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 200px;
}

.alt-login a:hover {
    scale: 1.05;
}

.github,
.google {
    padding: 5px 10px;
    background-color: #353535;
    color: #F9F4E9;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 45%;
}

@media (max-width: 992px) {
    .cover {
        padding: 30px;
        width: 90%;
    }

    .alt-login {
        width: 100%;
    }
}


/* sticky-note component */

.sticky-note {
    aspect-ratio: 1;
    max-width: fit-content;
    min-width: var(--sticky-note-width);
    margin: 1rem;
    border: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #1f1e1b;
    align-self: start;
    font-family: 'Indie Flower', cursive;
    position: relative;
    overflow: visible;
    cursor: grab;
}

.sticky-note-text {
    overflow-y: auto;
    scrollbar-width: none;
}

.sticky-note-text::-webkit-scrollbar {
    display: none;
}

.sticky-note-title-container {
    width: 75%;
    overflow-x: clip;
    white-space: nowrap;
}

.sticky-note h1 {
    font-size: 2rem;
    font-weight: 500;
}

.sticky-note h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0 0 2% 0;
}

.sticky-note p {
    font-size: 1.5rem;
    border-top: 2px solid;
    font-weight: 400;
    padding: 3% 0 0 0;
}

.sticky-note p:hover {}

.sticky-note div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 5%;
    /* Adjust spacing between x element and the title */
}

.xlgIcon {
    position: absolute;
    top: .75rem;
    right: .75rem;
    font-size: 1.5rem;
    fill: var(--bg-200);
    cursor: pointer;
    /* stroke: red; */
}

.xlgIcon:hover {
    stroke-width: 2;
    /* fill: red; */
    stroke: var(--error);
    /* scale: 1.02; */
}

.green {
    color: #8FBF9F;
    background: #346145;
    box-shadow: 10px 8px 0px 4px rgba(52, 97, 69, 0.6);
}

.cyan {
    color: #A5DAEB;
    background: #42798b;
    box-shadow: 10px 8px 0px 4px rgba(86, 156, 179, 0.6);
}

.red {
    color: #f8c4c4;
    background: #c16161;
    box-shadow: 10px 8px 0px 4px rgba(255, 133, 133, 0.6);
}

.orange {
    color: #f8d8c0;
    background: #c9824f;
    box-shadow: 10px 8px 0px 4px rgba(235, 156, 100, 0.6);
}

.form-error {
    font-weight: 700;
    color: red;
}

.form-success {
    font-weight: 700;
    color: green;
}


#dropdown::before {
    position: absolute;
    background-color: var(--text-200);
    content: "___";
    color: var(--text-200);
    top: 4.5rem;
    right: 85px;
    width: 25px;
    height: 20px;
    transform: rotate(45deg);
    z-index: 10;
}